<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card mb-3" style="background-color: #ffffff">
            <div class="card-body">
              <h3
                class="d-flex align-items-center justify-content-center mb-0"
                style="color: #1e3a8a"
              >
                <mat-icon class="me-2">school</mat-icon>
                STUDENT REGISTRATION FORM
              </h3>
            </div>
          </div>

          <form>
            <div class="card" style="background-color: #eff6ff">
              <div class="card-body">
                <h3 class="d-flex align-items-center" style="color: #2563eb">
                  <mat-icon class="me-2">person</mat-icon>
                  Personal Information
                </h3>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
