<nav class="navbar navbar-dark bg-dark px-4">
  <a class="navbar-brand fw-bold" routerLink="/">Student & Product Dashboard </a>

  <div class="ms-auto">
    <a class="nav-link d-inline text-light " routerLink="/students">
      Students
    </a>

    <a class="nav-link d-inline text-light mx-3" routerLink="students/addStudent" >
      Add Student
    </a>
     <a class="nav-link d-inline text-light mx-3" routerLink="products" >
      Products
    </a>

    <a class="nav-link d-inline text-light" > About </a>
  </div>
</nav>
